body {
    font-family: 'Roboto', sans-serif;
}

.main {
    margin-top: 30px;
}

.navbar-brand img {
    height: 1em;
    display: inline-block;
    margin-right: .5em;
}
.navbar {
    margin-bottom: 0;
    border: 0;
    box-shadow: none;
}

.full {
    min-height: 100vh;
    /*min-height: 20em;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.full.full-bombe {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url('/static/bombe.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.full.full-dc {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ), url('/static/dc.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.full.full-enigma {
    background: linear-gradient(
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85)
    ), url('/static/enigma.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.full.full-glitch {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ), url('/static/glitch.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.full .btn {
    font-size: 2.5em;
}

.btn-black {
    background-color: #333;
    border-color: #444;
}

.btn-black:hover {
    background-color: #222;
    border-color: #111;
}

.btn-black:active, .btn-black:focus {
    background-color: #333;
    border-color: #222;
}

.top-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

#ulb-logo {
    height: 20em;
    margin-right: 2em;
}

#title {
    font-size: 5em;
}

.full h1 {
    font-weight: bold;
    font-size: 3em;
    color: white;
}

.full > div {
    max-width: 80vw;
}

.full h2 {
    /*font-weight: bold;*/
    font-size: 2em;
    color: white;
    margin-bottom: 0.6em;
}

.full-logo {
    height: 30vh;
    margin: 2em;
}

.half-logo {
    height: 20vh;
    margin: 2em;
}

#b-messages {
    min-height: 0;
}

#b-messages > div {
    margin-top: 2em;
}

.alert-link {
    text-decoration: underline;
}

.alert-link:hover {
    text-decoration: none;
}

.btn-img {
    height: 1em;
}

#team-url-btn {
    cursor: pointer;
}

#team-url-btn:hover {
    background-color: rgb(208, 208, 208);
}

.challenge-panel {
    min-height: 15em;
}

.page-header {
    margin-top: 0;
}

.phase-description p {
    margin-bottom: 0;
}


.c3-grid {
    stroke-dasharray: 4,5;
    stroke-width: 0.7;
}

.tick {
    font-size:  1.4em;
}

.c3-chart-arcs-title {
    font-size: 1.9em !important;

}

.c3 text {
    font-family: 'Roboto', sans-serif;
}

.c3-legend-item {
    font-size: 1.4em !important;
}

.irc {
    background-color: black;
    padding: 0.4em;
    border-radius: 0.4em;
    font-family: monospace;
    color: white;
}

.irc:hover {
    color: #ccc;
}

.mini-logo {
    height: 1.5em;
}

.sponsor-big-logo {
    max-width: 100%;
    max-height: 20em;
}
